/* 
------------------------------------------------------------------------------------------------------------------
Centrar contenido, es esta seccion nos escargaremos de centrar los bloques principales Header,Nav,Article, Foother 
------------------------------------------------------------------------------------------------------------------
*/

/* Con esta clase alineamos Header,Nav y Foother */

.fullWidthAling {
  text-align: center;
}

/* Con este selector colocamos un ancho general para el contenido  */
article {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

/* Con esta clase alineamos una pequena div al inicio y dentreo de articulo, y el final de mismo*/
.headAarticle {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}


/* Con estos selectores adecuamos el tamano de los cont. visuales a su contenedor */
figure img,iframe {
  max-width: 100%
}


/*
-------------------------------------------------------------------------------------------------------------------
En esta seccion se dara formato a la cabecera y menu de navegacion
-------------------------------------------------------------------------------------------------------------------
*/

/*Removemos los bullet the la lista en el menu de navegación*/

.fullWidthAling ul > li {
  margin-bottom: 10px;
  list-style-type: none;
}

/*Removemos el underline y damos el color geneal  a todos los enlaces el documento*/

a {
  color: #9a0150;
  text-decoration: none;
}

/*Especificamos que solo los enlaces en Nav deben ser negros*/

nav.fullWidthAling a {
  color: black;
}

/*Agregamos un estilo cuando el curso pase por encima de cada enlace del munu y en general*/

a:hover {
  text-decoration: underline yellow;
  text-decoration-thickness: 3px;
}

/*Ajustamos el tamano de la imagen de cabecera*/

header img {
  width: 15%;
}

/*Damos un tono negro al borde inferiror del contendor Nav */

nav {
  border-bottom: 2px solid black;
}

/*Esta clase hara que el texto de menu correspondiente sea mas notable*/

.current {
  font-weight: bold;
}


/*
-------------------------------------------------------------------------------------------------------------------
En esta seccion se dara formato a al apartado donde se da informacion del autor
-------------------------------------------------------------------------------------------------------------------
*/

/*Con esta regla queremos aplicar a la imagen dentro del contendor con la clase indica un aspecto redondeado, y moverlo ligeramente a la derecha*/

div.autor_info img {
  width: 25%;
  border-radius: 50%;
  margin-right: 10px;
}

/*Con esta regla damos algo de espacio entre la info del autor y contenido anterior*/

.autor_info {
  margin-top: 60px;
  margin-bottom: 60px;
}


/*
-------------------------------------------------------------------------------------------------------------------
En esta seccion se dara formato al pie de pagina
-------------------------------------------------------------------------------------------------------------------
*/


/*Damos un color de fondo y cambio de color de fuente*/

footer {
  background-color: black;
  color: white;
  height: 100px;
  height: 90px;
  line-height: 90px;
  font-size: 12px;
}


/*
-------------------------------------------------------------------------------------------------------------------
En esta seccion se aplicaran reglas para camiar aspecto de fuentes y estilo de texto
-------------------------------------------------------------------------------------------------------------------
*/


/* Con esta regla queremos evitar que los parrafos dentro de estas clases sean afectados por el alineamiento principal*/

.headAarticle p:last-child, .autor_info{
  text-align: left;
}


/* Con regla queremos dar una tamaño de fuente mas pequeña al pie de cada imagen y video*/

figcaption {
    margin: 5px;
    font-size: xx-small;
}


/* Estas reglas definen la fuente a ser usada en los tituloes y su alineacion correspondiente*/

h1 {
  font-size: 55px;
  text-align: center;
  font-weight: lighter;
}

h2 {
  font-size: 40px;
}

#livejournal, #penzu, #diario {
  font-size: 35px;
  font-weight: lighter;
}  

main, nav, header {
  font-family: "Helvetica", "Arial", "sans-serif";
}

div.autor_info cite, .quote figcaption,
.quote blockquote, span.names {
  font-family: "Georgia", "Times", "serif";
}

article p {
  line-height: 150%;
}

.headAarticle:not(.autor_info) {
  font-size: 20px;
}

div.autor_info p {
  font-size: 12px;
}


/*
-------------------------------------------------------------------------------------------------------------------
En esta seccion se adicionan reglas extra para pagina dietarios, no incluidas anterirormente
-------------------------------------------------------------------------------------------------------------------
*/


/* Estas regla adcuada la listas*/



ul.dietarios  {
  list-style: square;
  font-size: 25px;
  margin-bottom: 30px;
  margin-left: 20px;
}

ol {
  font-size: 15px;
  line-height: 25px;
}

.quote {
  margin-left: 50%; 
  background: #eee;
  border-right: #9a0150 2px solid;
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
}
.quote figcaption,
.quote blockquote {
  margin: 1em;
  font-size: 20px;
}

.quote figcaption {
  font-size: 10px;
}

span.names {
  font-style: italic;
}




