/* 
------------------------------------------------------------------------------------------------------------------
Centrar contenido, es esta sección nos encargaremos de centrar los bloques principales Header,Nav,Article, Foother
------------------------------------------------------------------------------------------------------------------
*/

/* Remover los margenes del cuerpo */

body {
  margin: 0;
}

/* Con esta clase alineamos Header,Nav y Foother */

.fullWidthAling {
  text-align: center;
}

/* Con este selector colocamos un ancho general para el contenido  */
article {
  width: 66%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}

/* Con esta clase alineamos una pequeña sección <div> al inicio, dentro de articulo, y el final de mismo. */
.headAarticle {
  width: 66%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* Con estos selectores adecuamos el tamaño  de los cont. visuales a su contenedor */
figure img,
iframe {
  max-width: 100%;
}

/* Con este selector retiramos el borde de los iframe*/

iframe {
  border: 0;
}

/*
-------------------------------------------------------------------------------------------------------------------
En esta sección se dará formato a la cabecera y menú de navegación
-------------------------------------------------------------------------------------------------------------------
*/

/*Removemos los bullet de la lista en el menú  de navegación*/

.fullWidthAling ul > li {
  margin-bottom: 10px;
  list-style-type: none;
}

/* Sobrescribimos la informacion de la hoja de estilo del agente de usuario para el relleno izquierdo del "ul" de la lista del Nav, de tal forma de lograr el centrado, y damos espcio con el articulo*/

.fullWidthAling ul {
  padding-left: 0px;
  margin-bottom: 30px;
}

/*Removemos el underline y damos el color geneal  a todos los enlaces el documento*/

a {
  color: #9a0150;
  text-decoration: none;
}

/*Especificamos que solo los enlaces en Nav deben ser negros*/

nav.fullWidthAling a {
  color: #000000;
}

/*Agregamos un estilo cuando el curso pase por encima de cada enlace dentro del documento*/

a:hover {
  text-decoration: underline #ffff00;
  text-decoration-thickness: 3px;
}

/*Ajustamos el tamaño  de la imagen de cabecera*/

header img {
  width: 15%;
}

/*Damos un tono negro al borde inferiror del contendor Nav */

nav {
  border-bottom: 2px solid #000000;
}

/*Esta clase hara que el texto de menu correspondiente sea mas notable*/

.current {
  font-weight: bold;
}

/*
-------------------------------------------------------------------------------------------------------------------
En esta sección se dará formato a al apartado donde se da información del autor
-------------------------------------------------------------------------------------------------------------------
*/

/*Con esta regla queremos aplicar a la imagen dentro del contendor con la clase indica un aspecto redondeado, y moverlo ligeramente a la derecha*/

div.autor_info img {
  width: 23%;
  border-radius: 50%;
  margin-right: 10px;
  float: left;
}

/*Con esta regla damos algo de espacio entre la info del autor y contenido anterior*/

.autor_info {
  margin-top: 60px;
}

/*
-------------------------------------------------------------------------------------------------------------------
En esta sección se dará formato al pie de pagina
-------------------------------------------------------------------------------------------------------------------
*/

/*Damos un color de fondo y cambio de color de fuente*/

footer {
  background-color: #000000;
  color: #ffffff;
  height: 90px;
  line-height: 90px;
  font-size: 12px;
}

/*
-------------------------------------------------------------------------------------------------------------------
En esta sección se aplicaran reglas para cambiar aspecto de fuentes y estilo de texto
-------------------------------------------------------------------------------------------------------------------
*/

/* Con esta regla queremos evitar que los párrafos dentro de estas clases sean afectados por el alineamiento principal que es texto centrado.*/

.headAarticle p:last-child,
.autor_info {
  text-align: left;
}

/* Con regla queremos dar una tamaño de fuente mas pequeña al pie de cada imagen y video*/

figcaption {
  margin: 5px;
  font-size: xx-small;
}

/* Estas reglas definen la fuente a ser usada en los títulos y su alineación correspondiente*/

h1 {
  font-size: 55px;
  text-align: center;
  font-weight: lighter;
}

h2 {
  font-size: 43px;
}

#livejournal,
#penzu,
#diario {
  font-size: 35px;
  font-weight: lighter;
}

main,
nav,
header {
  font-family: "Helvetica", "Arial", "sans-serif";
}

div.autor_info cite,
.quote figcaption,
.quote blockquote,
span.names {
  font-family: "Georgia", "Times", "serif";
}

article p {
  line-height: 150%;
}

.headAarticle:not(.autor_info) {
  font-size: 20px;
}

div.autor_info p {
  font-size: 12px;
}

/*
-------------------------------------------------------------------------------------------------------------------
En esta sección se adicionan reglas extra para página dietarios, no incluidas anteriormente
-------------------------------------------------------------------------------------------------------------------
*/

/* Estas regla adcuada la listas*/

/* Estilo a las viñetas y adaptación de márgenes para centrado */

ul.dietarios {
  list-style: square;
  font-size: 25px;
  margin-bottom: 30px;
  margin-left: 20px;
}

/* modificara la fuente y la altura de línea */

ol {
  font-size: 15px;
  line-height: 25px;
}

/* Aplicar estilo a la blockquoete y su contenedor en dietarios*/

.quote {
  margin-left: 50%;
  background: #eee;
  border-right: #9a0150 2px solid;
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
}

.quote figcaption,
.quote blockquote {
  margin: 16px;
  font-size: 20px;
}

.quote figcaption {
  font-size: 10px;
}

/* Aplcar estilo a los nombres de autores en todo el docuemento*/

span.names {
  font-style: italic;
}
