/* Colocamos el tipo de letra a ser usado en el menu de navegacion, borde bajo y su color */

nav {
  border-bottom: 2px solid black;
}

nav,
h1 {
  font-family: "serifa-Helvetica", "Arial", "sans-serif";
}

/* Alineamiento en centro del nav y header */
.aling {
  text-align: center;
}

/* Especificamos que los enlaces dentro de NAV sean negros */

li.menu a {
  color: black;
}

/* Estas clases permiten que la pagina seleccionada en el menu se diferencia del resto */

.menu.current {
  font-weight: bold;
}

/* Damos estilo a la lista de menu de navegacion */

li.menu {
  margin-bottom: 10px;
  list-style-type: none;
}

li.menu:last-child {
  margin-bottom: 35px;
}

/* Color a los textos de los enlaces dentro de las paginas removiendo la linea inferior de los enlaces*/

a {
  color: #9a0150;
  text-decoration: none;
}

/* Dar un estilo a los enlaces a la hora de pasar el cursor sobre ellos */

a:hover {
  text-decoration: underline yellow;
  text-decoration-thickness: 3px;
}

/* Adaptación de tamano del contenido principal */

article {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

article p {
  line-height: 150%;
}

.head_article {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
}

.media_embedded {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

figcaption,
.iframe_title {
  margin: 5px;
  font-size: xx-small;
}

h1 {
  font-size: 55px;
  text-align: center;
  font-weight: lighter;
}

h2 {
  font-size: 45px;
}

figure img {
  width: 100%;
}

.head_article p:last-child {
  font-size: 20px;
}

.autor_info {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  margin-bottom: 60px;
}

div.autor_info img {
  width: 25%;
  border-radius: 50%;
  margin-right: 10px;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  height: 100px;
  height: 90px;
  line-height: 90px;
}
