/* importamos el tipo de letra a usar */

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* Regla que permite un reset general y establece un tamano de letra estandar y color texto */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  font-family: "Noto Sans", sans-serif;
  color: rgb(23, 23, 23);
}

/*
-------------------------------------------------------------------------------------------------------------------
En esta sección se dará formato a paginas: ajedrez,cursos, Inscripción
-------------------------------------------------------------------------------------------------------------------
*/

/*Regla para alinear contenido, cabecera y pie de pagina*/

header section,
footer section,
article,
#sectionInscription {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

/* Regla para mover contenido texto footer */

footer section {
  padding-top: 1rem;
  padding-bottom: 3.5rem;
}
/*Regla para colocar fondo negro cabecera y pie de pagina*/

header,
footer {
  background-color: rgb(0, 0, 0);
}

/*Regla para quitar linea baja por defecto de enlaces*/
a {
  text-decoration: none;
}

/*Regla para dar estilo a todos los enlaces cuando hover, */
a:hover {
  color: rgb(153, 17, 17);
}

/*Regla para dar estilo a los enlaces del texto*/
article a {
  border-bottom: 0.1rem dotted;
}

/*Regla para evitar cambio de color en hover para encabezado*/

a.exceptionHover {
  color: rgb(255, 255, 255);
}

/*Regla para remover vinetas de UL en navegación*/

nav ul li {
  list-style-type: none;
  display: inline-block;
}

/*Creamos puntos falsos entre li*/

nav ul li::before {
  content: "·";
  width: 5rem;
  padding-right: 0.5rem;
  padding-left: 0.25rem;
}

/*Quitamos el primer punto falso del li*/

nav ul li:first-child::before {
  content: "";
  padding-right: 0rem;
}

/* Regla que dar estilo a los enlaces en menu Nav*/

nav a,
nav li {
  font-size: 1.4rem;
}

/* Regla que dar color a los enlaces en menu Nav, y contenido footer*/

nav *,
footer * {
  color: rgb(255, 255, 255);
}

/*Regla para dar estilo de fuente en encabezado de header*/

header section h1 a,
span {
  font-size: 3rem;
}

span {
  color: rgb(153, 17, 17);
}

/*Regla para dar estilo a logo de navegacion*/

section h1 img {
  width: 3%;
  margin-right: 1.1rem;
}

header section {
  padding-top: 2rem;
  padding-bottom: 1.3rem;
}

/*Regla para resaltar en que pagina se encuentra usuario*/

.current {
  font-weight: bold;
}

/*Regla para establcer tamano de fuente en texto*/

article *,
#sectionInscription * {
  font-size: 1.2rem;
}

/*Regla para dar formato a contenedor de text, margen superior e inferior*/

article,
#sectionInscription {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

/*Reglas para dar formato a titulos dentro de texto*/

article h1,
#sectionInscription h1 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

article h2,
h2 time {
  font-size: 2rem;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}

article h3 {
  font-size: 1.5rem;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}

/*Regla para espacio entre parrafos*/

p {
  margin-top: 1.2rem;
  line-height: 2rem;
}

/* Regla para reset de margenes parrafos en footer */
footer p {
  margin-top: 0rem;
}

/*Reglas para centrar el contenido de figure, y dimisnsionar el contenido*/

figure {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

figure img {
  width: 80%;
}

figcaption {
  font-size: 1rem;
}

/*
-------------------------------------------------------------------------------------------------------------------
En esta sección se dará formato a la tabla
-------------------------------------------------------------------------------------------------------------------
*/

/* Regla para otorgar ancho completo al figure de la tabla */

figure.table {
  width: 100%;
}

/* Regla para alinear figcaption de tabla */

figure.table figcaption {
  margin-top: 1.2rem;
  text-align: left;
}

/* Regla para modificar border de tabla y alinearla con respecto al figure */

table {
  border-collapse: collapse;
  border: 1px solid rgb(23, 23, 23);
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.2rem;
  width: 75%;
}

/* Regla para dar estilo a bordes de cabecera */

thead {
  border: 1px solid rgb(23, 23, 23);
}

/* Regla para dar estilo a caption de tabla, bordes y tamano de fuente */
caption {
  border: 1px solid rgb(23, 23, 23);
  border-bottom-style: hidden;
  font-size: 1.8rem;
}

/* Regla para alinear contenido de cabecera y dar estilo a su fuente */

thead tr th {
  padding: 0.5rem 2rem 0.5rem 0.5rem;
  text-align: left;
  font-size: 1rem;
}

/* Regla para alinear contenido de cuerpo de tabla */

tbody th,
td {
  text-align: left;
  padding-left: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* Regla para crear líneas de cebra de la tabla */

tbody tr:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.1);
}

/* Regla para aumentar tamano de fuente a cabeceras de cada row */

th[scope="row"] {
  font-size: 1.5rem;
}

/* Reglas para proporcionar anchos de celda segun mok */

thead tr th:nth-child(1),
thead tr th:nth-child(2) {
  width: 20%;
}

thead tr th:nth-child(3) {
  width: 17%;
}

td:nth-child(4) {
  padding-right: 2.5rem;
}

/*
-------------------------------------------------------------------------------------------------------------------
En esta sección se dará formato a las listas de cursos
-------------------------------------------------------------------------------------------------------------------
*/

article.cursos ul {
  padding-left: 2.5rem;
  width: 70%;
  line-height: 2rem;
  list-style-type: square;
}

article.cursos dl {
  width: 70%;
}

.ulLeft ul,
.ulLeft dl {
  margin-left: 30%;
}

section h2,
section h3 {
  margin-left: 25%;
}

dt {
  font-size: 1.5rem;
  font-weight: bold;
  border-bottom: 1px solid rgb(0, 0, 0);
}

dd {
  line-height: 2rem;
}
